@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html[data-theme="light"]{
        --color-primary: #f9f9f9;
        --color-secondary: #ffffff;
        color: black;
    }
}

@layer base {
    html[data-theme="dark"] {
        --color-primary: #1d232a;
        --color-secondary: #191e24;
        color: white;
    }
}

:root{
    margin: 0 auto;
    padding: 0;
    
}

html{
    scroll-behavior: smooth;
    display: block;
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: var(--color-primary);
    z-index: 15;
}

::-webkit-scrollbar-thumb {
    background-color: #ff4d30;
    border-radius: 20px;
    z-index: 15;

}

body{
    font-family: "Poppins", sans-serif;
    background-color: #f8f8f8;
}

h3,h4,p{
    font-family: "Rubik", sans-serif;
}
